---
layout: archive
---

<h3 class="archive__subtitle"> Recent Slides </h3>

{% for slide in site.slides %}

  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | absolute_url }}"
            {% endif %}
            alt="">
        </div>
      {% endif %}
      <h2 class="archive__item-title" itemprop="headline">
        {% if slide.link %}
          <a href="{{ slide.link }}">{{ slide.title }}</a> <a href="{{ slide.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ slide.url | absolute_url }}" rel="permalink">{{ slide.title }}</a>
        {% endif %}
      </h2>
      {% if slide.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}
      {% if slide.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ slide.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    </article>
  </div>


{% endfor %}




<!-- {% include category-list.html %} -->


{% include paginator.html %}
